[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
pillow = "*"
django-filter = "*"
django = "==4.1.1"

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
